<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:test="http://www.apitest.com/schema/apiTest"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.apitest.com/schema/apiTest http://www.apitest.com/schema/apiTest/apiTest.xsd">



    <bean id="singleTestData" class="java.lang.String">
        <constructor-arg>
            <test:env sit="singleTestData" dev="singleTestData"/>
        </constructor-arg>
    </bean>


    <bean id="batchTestData" class="java.lang.String">
        <constructor-arg value="batchTestData"/>
    </bean>

    <bean id="FactoryTest" class="java.lang.String">
        <constructor-arg value="FactoryTest"/>
    </bean>

    <bean id="t" class="java.lang.Long">
        <constructor-arg value="#{T(com.apitest.utils.DataUtils).INSTANCE.systemTime}"/>
    </bean>


    <bean id="s1" class="com.apitest.testModels.Student" >
        <property name="name" value="Y1"/>
        <property name="age" value="20"/>
        <property name="money" value="200"/>
    </bean>

    <bean id="s2" class="com.apitest.testModels.Student" scope="prototype">
        <property name="name" value="Y2"/>
        <property name="age" value="22"/>
        <property name="money" value="202"/>
    </bean>
</beans>