<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="sampleTest">

    <listeners>
        <listener class-name="com.apitest.nglisteners.ApiTestListener"/>
    </listeners>
    <!--<test name="sample-Test" verbose="1">-->
    <!--<packages>-->
    <!--<package name="com.kb.testcases.*"/>-->
    <!--</packages>-->
    <!--</test>-->

    <test name="groupTest" >
        <!--<groups>-->
            <!--<run>-->
                <!--<include name="factory"/>-->
            <!--</run>-->
        <!--</groups>-->
        <packages>
            <package name="com.apitest.*"/>
            <!--<package name="com.kb.testcases.mshopcenter.CategoryQueryFacade.*"/>-->
        </packages>
    </test>

</suite>